 body{
    background: url('../images/cookies.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 30cm;
    margin: 0 auto 10px auto;
    display: grid ;
    /* grid-template-rows: 1fr 1fr 1fr ;
    grid-row: 5% 85% 5%; */
}

 header{
     height: 3cm;
    border: 2px solid rgba(197, 186, 27, 0.384);
   border-radius:20px ;
    background-color: white;
    opacity: .7;
} 
header > div {
    display: inline;
    position: relative;
}
header img{
    float: left;
    width: 7cm;
    height: 2cm;
    margin-left: .5cm;
    margin-top: 8px;
}
header > div  a{
    display: inline;
    position: relative;
    float: right;
    text-decoration: none;
    font-size: 1cm;
    color: rgb(9, 27, 46);
    right: 3cm;
    margin-right: 3cm;
    margin-top: 30px;
}
header ul{
    position: relative;
   left: 2cm;
}

#seconddiv{
    grid-area: left;
    
}
#formdiv{
    grid-area:bottom;
}
#imagesdiv{
    grid-area: bottom;
}
main{

    display: grid;
    grid-template-areas: 'left '
    'bottom'
    'bottom' ;
}
#seconddiv table:first-child{
    float: left;
    height: 7cm;
    border: solid goldenrod;
    width: 400px;
    position: relative;
    /* top: 70px; */
    margin-bottom:2cm ;
    background-color: black ;
    opacity: .4;
    align-content: center;
}
#seconddiv table:first-child tr{
    border: goldenrod solid;
text-align: center;
font-size: x-large;
color:wheat;}

#seconddiv table:last-child{
float: right;
height: 7cm;
border: solid goldenrod;
width: 400px;
position: relative;
bottom: 27px;
margin-bottom:2cm ;
background-color: black ;
opacity: .4;
align-content: center;
}

#seconddiv table:last-child tr{
    border: goldenrod solid;
    text-align: center;
    font-size: x-large;
    color:wheat;}

#opininghours{
    position: relative;
        display: inline;
        font-size: .8cm;
        font-style: oblique;
        color: linen;
    bottom: .8cm;
        right: 400px; 
}
#formdiv{
    float: right;
    position: relative;
    left: 600px;
    bottom: 2cm;
}
#formdiv>form{
    width: 400px;
    border: solid wheat;
    height: 2.5cm;
    background-color: black;
    opacity: .4;
}
#formdiv>form fieldset{
    position: relative;
    left: 70px;
    color: wheat;
}
#formdiv>form>label {
    color: wheat;
    position: relative;
    left: 10px;
    margin-right: 10px;
}
#formdiv>form input{
    border-radius: 20px;
    background-color: goldenrod;
    border: solid black;
    position: relative;
    left: 40px;
    margin-top: 5px;
}
#formdiv>form input:last-child{
position: relative;
left: 5cm;
}
#imagesdiv{
    border: solid wheat;
    position: relative;
    top:.8cm;
    background-color: black;
    opacity: .7;
}
#imagesdiv img{
  height: 100px;
  width: 300px;
  display: inline;
  position: relative;
 left: 5px;
 top: 5px;
  margin-bottom: 1cm;
  border: wheat solid;
}

footer{
    border: 2px solid rgba(197, 186, 27, 0.384);
    border-radius:20px ;
    background-color: white;
    opacity: .7;
    height: 3cm;
    position: relative;
    top: 1cm;

}

footer ul{
    display: inline;

}
footer li{
    display: inline;
    position: relative;
    left: 55px;
    margin-right: 30px;
   top: 45px;
   font-size: 16px;
   color: black;
}










/*
main{
    min-height: 40cm;
    margin: 0cm;
}
#firstdiv{
float: left;
}
#firstdiv img {
    display: inline;
    position: relative;
    width: 10cm;
    float: left;
    height: 2cm;
    left: 2cm;
    top: 10px;
  
}
#firstdiv{
    display: inline;
}
#firstdiv ul{
display: inline;
position: relative ;
left: 7cm;
top: 1cm;
float: right;  
}
#firstdiv li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1cm;
}
#firstdiv a{
    text-decoration: none;
    margin-left: 3cm;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#seconddiv{
   float: left;
    max-height: 30cm;
}
#seconddiv img {
    position: relative;
    display: inline;
    float: right;
    right: 2cm;
    top: .5cm;
    width: 13cm;
    height: 8cm;
}
#td1{
    font-size: 1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid rosybrown;
    width: 15cm;
    height: 15cm;
    background-color: thistle;
    opacity: .6 ;
    margin-bottom: 1cm;
    margin-top: .2cm;
    position: relative;
float: right;
top: .86cm;
    
}
#td2{
    float: left;
    font-size: 1cm;
    border: solid rosybrown;
    width: 15cm;
    height: 15cm;
    background-color: thistle;
    opacity: .6 ;
    margin-bottom: 1cm;
    margin-top: .2cm;
    position: relative;
}

#seconddiv tr{
    border: solid rosybrown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-align: center;
    color: rgb(240, 53, 53);
    height: 2cm;
}

#opininghours{
position: relative;
display: inline;
font-size: .8cm;
float: left;
font-style: oblique;
color: linen;
top: .1cm;
left: 1cm;
}
.imagesdiv{
   display: inline;
   position: relative;
  
}


#formdiv{
float: left;

}
#form{
    float: left;
    border: inset rgb(20, 20, 20);
    position: relative;
    font-size: 30px;
    width: 14cm;
    height:4cm;
    top: 1cm;
   display: inline;
   background-color: royalblue;
   text-align: center;
   margin: .5cm;
   border-radius: 1cm;
}
fieldset{
    display: inline;
    height: fit-content;
    width: (fit-content+1cm);
    border:initial rgb(14, 1, 1);

}
input {
    display: inline;
    position: relative;
    display: inline-flexbox;
    border: solid black;
    margin-top: .5cm; 
    color: rgb(14, 13, 12);
    border-radius: 1cm ;
}
#sub{
    position: relative;
 margin-top: .5cm; 
width: 2cm;
height: 1cmcm;
font-size: 30px;
}
footer{
    min-height: 4cm;
      background-color: cadetblue;
      opacity: .6;
      position: sticky ;
      margin: .2cm;
 bottom: 0cm;
      
  }

#footerdiv{
    display: inline;
 
}
#footerdiv  ul{
    float: left;
    display: inline;
    
}


#footerdiv:last-child li{
    color: rgb(139, 6, 6);
    display: inline;
    position: relative;
    left: 1cm;
    margin: 1cm;
    top: 1.5cm;
    font-family: fantasy;
    font-size: large;
    font-style: italic;
}
/* #imagesdiv{
float: right;
display: inline;
}
#imagesdiv img:nth-child(1) {
  width: 10cm;
  float: right;
  
} */ 