body{
    background: url('../images/cookies.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: lightseagreen;
    min-height: 3cm;
    opacity: .6;
}
main{
    min-height: 40cm;
    margin: 0cm;
}
#firstdiv{
float: left;
}
#firstdiv img {
    display: inline;
    position: relative;
    width: 10cm;
    float: left;
    height: 2cm;
    left: 2cm;
    top: 10px;
  
}
#firstdiv{
    display: inline;
}
#firstdiv ul{
display: inline;
position: relative ;
left: 7cm;
top: 1cm;
float: right;  
}
#firstdiv li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1cm;
}
#firstdiv a{
    text-decoration: none;
    margin-left: 3cm;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#seconddiv{
   float: left;
    max-height: 30cm;
}
#seconddiv img {
    position: relative;
    display: inline;
    float: right;
    right: 2cm;
    top: .5cm;
    width: 13cm;
    height: 8cm;
}
#td1{
    font-size: 1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid rosybrown;
    width: 15cm;
    height: 15cm;
    background-color: thistle;
    opacity: .6 ;
    margin-bottom: 1cm;
    margin-top: .2cm;
    position: relative;
float: right;
top: .86cm;
    
}
#td2{
    float: left;
    font-size: 1cm;
    border: solid rosybrown;
    width: 15cm;
    height: 15cm;
    background-color: thistle;
    opacity: .6 ;
    margin-bottom: 1cm;
    margin-top: .2cm;
    position: relative;
}

#seconddiv tr{
    border: solid rosybrown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-align: center;
    color: rgb(240, 53, 53);
    height: 2cm;
}

#opininghours{
position: relative;
display: inline;
font-size: .8cm;
float: left;
font-style: oblique;
color: linen;
top: .1cm;
left: 1cm;
}
.imagesdiv{
   display: inline;
   position: relative;
  
}


#formdiv{
float: left;

}
#form{
    float: left;
    border: inset rgb(20, 20, 20);
    position: relative;
    font-size: 30px;
    width: 14cm;
    height:4cm;
    top: 1cm;
   display: inline;
   background-color: royalblue;
   text-align: center;
   margin: .5cm;
   border-radius: 1cm;
}
fieldset{
    display: inline;
    height: fit-content;
    width: (fit-content+1cm);
    border:initial rgb(14, 1, 1);

}
input {
    display: inline;
    position: relative;
    display: inline-flexbox;
    border: solid black;
    margin-top: .5cm; 
    color: rgb(14, 13, 12);
    border-radius: 1cm ;
}
#sub{
    position: relative;
 margin-top: .5cm; 
width: 2cm;
height: 1cmcm;
font-size: 30px;
}
footer{
    min-height: 4cm;
      background-color: cadetblue;
      opacity: .6;
      position: sticky ;
      margin: .2cm;
 bottom: 0cm;
      
  }

#footerdiv{
    display: inline;
 
}
#footerdiv  ul{
    float: left;
    display: inline;
    
}


#footerdiv:last-child li{
    color: rgb(139, 6, 6);
    display: inline;
    position: relative;
    left: 1cm;
    margin: 1cm;
    top: 1.5cm;
    font-family: fantasy;
    font-size: large;
    font-style: italic;
}
/* #imagesdiv{
float: right;
display: inline;
} */
#imagesdiv img:nth-child(1) {
  width: 10cm;
  float: right;
  
}